
<%@users.each do |u|%>

<aside>

	<%= button_to "add user",'#', :onclick => "(window.opener).add_user(this); return false;", :data => {userid: u.id,username: u.name,imgsrc: u.image}, id: "button"  %>
</aside>	
	<div class="user">
		<%= link_to u do %>
			<%= image_tag(u.image_url.to_s, :size => '50x50')%><br />
			<%= u.name %>
		<%end%>
		<br /><br />
		<small><u>city:</u>&nbsp;<%= u.city %></small><br />
		
	</div>		
<%end%>

<br /><br /><br />
<hr />
