<h2><%=@user.name%>'s profile</h2><br />

<%= image_tag @user.image_url.to_s, :size => '250x250' %>

<%if false%>
<% if @notmyfriend %>
	<%=button_to "offer friendship",{:controller => 'friend_invts', :action => 'create'}, :id => @user.id %>		
<% end %>	 
<% end %>	
<% if @myself %>
	<%= button_to "edit my profile", {:controller => 'users', :action => 'edit'}, :id  => session[:user_id] %>
<% end %>

<br />

<table>
	<tr>
		<th>name:</th>
		<td><%= @user.name %></td>
		<th>e-mail:</th>
		<td><%= @user.email %></td>
	</tr>
	<tr>
		<th>city:</th>
		<td><%= @user.city %></td>
		<th>street and house number</th>
		<td><%= @user.street_num %></td>
	</tr>
	<tr>
		<% unless @user.entrance.blank? %>
			<th>entrance:</th>
			<td><%= @user.entrance %></td>
		<% end %>
		<% unless @user.apartment_num.blank?%> 			
			<th>apartment number</th>
			<td><%= @user.apartment_num %></td>
		<% end %>
	</tr>
	
	</table><br />
	
	<h2>his friends are:</h2> 
	<%= render(:partial => 'shared/user_list', :locals => {:users => @friends}) %>
	

 

 

