<div id="feast<%=feast.id%>" >
	
	<h3>competition  invitation</h3><br />
	<% tickets = User.find(session[:user_id]).participations.where(feast_id: feast.id).count - 1 %>
	<p>
		dear <%=User.find(fiv.receiver_id).name%><br />
		<%=User.find(fiv.sender_id).name%> has invitad you 
		to compete with him <br />
		at <%= feast.feast_place %><br />
		at <%= feast.feast_time %><br />
		he wants you to bring 
		<% pars = Participation.joins(:feast, :user).where(feasts: {id: feast.id}, users: {id: fiv.receiver_id}).to_a %>
		<% i=0 %>
		<% pars.each do |par| %>
			<% if i= 0 %>
		  		<% par.obligations.to_a.each do |ob| %>
					<%= link_to Dish.find(ob.dish_id).name, dish_path(ob.dish_id) %>, 			
				<% end %>
			<% else %>
			<p>your friends have to bring:</p>
			<%= i.to_words ordinal: true %> friend
				<% par.obligations.to_a.each do |ob| %>
					<%= link_to Dish.find(ob.dish_id).name, dish_path(ob.dish_id) %>, 			
				<% end %> 
			<% end %>
			<% i= i+1 %>
		<% end %>
		
		
		will you join him?
		<% if tickets > 0 %>
			he also wants you to bring <%=pluralize(tickets, 'friend') %> ok?
		<% end %>  
	</p>
	
	<%= form_for feast, remote: true do |f| %>
		<% # pars = User.find(session[:user_id]).participations.where(feast_id: feast.id)%>
		<table>
			<thead>
				<tr>
					<th>coming?</th>
					
				</tr>
			</thead><br />
			<tbody>
				<tr></tr>
				<% i = 0 %>
				
				<%= f.fields_for(:participations) do |par| %>
					
					<% if par.object.user_id == session[:user_id] %>
						<% if i == 0 %>
							<tr>
								<td><%= User.find(par.object.user_id).name %></td>
								<td><%= par.radio_button(:coming, "coming") %>yes</td>
								<td><%= par.radio_button(:coming, "maybe") %>maybe</td>
								<td><%= par.radio_button(:coming, "not coming") %>no</td>
							</tr>
						<% else %>
							<tr>
								<td><%= i.to_words ordinal: true %> friend </td>
								<td><%= par.radio_button(:coming, "coming") %>yes</td>
								<td><%= par.radio_button(:coming, "maybe") %>maybe</td>
								<td><%= par.radio_button(:coming, "not coming") %>no</td>
							</tr>
						<% end %>
						<% i = i + 1 %>
					<% end %>	
				<% end %>	
			</tbody>
		</table>
		<%= hidden_field_tag(:invtupdate, "invt") %>
		<%= hidden_field_tag(:fiv_id, fiv.id) %>
		<%= submit_tag "respond" %>
	<% end %>	 	
</div> 

<br /><br />
