
<%users.each do |u|%>
	<div class="user">
		<%= link_to u do %>
			<%= image_tag(u.image_url.to_s, :size => '50x50')%><br />
			<%= u.name %>
		<%end%>
		<br /><br />
		<small><u>coming?</u>&nbsp;<%= u.participations.where(feast_id: feast.id).first.coming %></small><br />
		<small><u>city:</u>&nbsp;<%= u.city %></small><br />
		<small><u>kitchen:</u>&nbsp;<%= u.kosher %></small>
	</div>		
<%end%>

<br /><br /><br />

