
		<table summery="dish lists">
		<tr>	
			<th><u>name</u></th>
			<th>&nbsp;</th>
			<th><u>taste</u></th>	
			<th><u>culture</u></th>
			<th>&nbsp;<u>mealpart</u></th>
			<th>&nbsp;</th>
		</tr>
<% dishes.each do |dish| %>
	<tr>
		<td><%= link_to(dish.name, dish_path(dish.id), :class => 'action')%></td>
		<td>&nbsp;&nbsp;<%= link_to(dish_image(dish, '50x50'), dish_path(dish.id), :class => 'action')%></td>
		<td>&nbsp;<%= dish.taste %></td>
		<td>&nbsp;&nbsp;<%= dish.culture %></td>
		<td>&nbsp;&nbsp;<%= dish.mealpart %></td>
		<%if dish.belongings.where(user_id: session[:user_id]) %>				
			<td>&nbsp;<%=link_to("delete recipe", delete_dish_path(dish.id), :class => 'action' )%></td>
		<%end%>
			
	</tr>
	
<%end%>
</table>
