<% content_for :head do %>
   <%= javascript_include_tag('menual_nesting')%>
<% end %>

<%=error_messages_for(@dish)%>

<h2>change dog logs</h2>

<div>
<%= form_for @dish do |f| %>

	<%= render(:partial => "form", :locals => {stat: @stat, :f => f})%>

<%= submit_tag("update dog details") %>

<%end%>
</div>

