
<h2><u>food search - search for dishes</u></h2>

<%= form_tag(:action=>'list') do %>
<table>
	<tr>
		<th><%=label_tag(:name)%></th>
		<th><%=label_tag(:culture)%></th>
		<th><%=label_tag(:taste)%></th>
	</tr>
		
	<tr>	
		<td><%= text_field_tag(:name) %></td>
		<td><%= text_field_tag(:culture) %></td>
		<td><%=select_tag("taste",options_for_select(["sweet","sweet-sour","sour","piquant","spicy","spicy-sweet","salty","???another???"]))%></td>
	</tr>

<%if false%>	
	<tr>	
		<th><%= label_tag(:grocery) %></th>
		<th><%=label_tag(:mealpart)%></th>
		<th><%= label_tag(:recipe) %></th>
	</tr>
	<tr>
		<td><%= text_field_tag(:grocery) %></td>
		<td><%=select_tag("mealpart",options_for_select(["appertif","first course","intermidiate","mail course","dessert","tea","coffee","break","???another???"]))%></td>
		<td><%= text_field_tag(:recipe) %></td>
	</tr>
<%end%>

</table>
  	
		<%= submit_tag "create recipe", :type => :image,:src => image_path("cook2.png") %>
 		
 		
	</div>
<% end %>