<h1> my competition list </h1>

<div class="feast">
<%= link_to({:action => 'new'}) do%>
	 <%= image_tag('compet_new.jpg', :size => '260x260', :alt => 'new competition') %>
<%end%>
</div>
<hr />

<h2>managed competitions</h2><br />
<%if @user_feast_m.blank? %>
	<p>there are no managed competitions</p>
<%end%>

<%@user_feast_m.each do |f|%>
<div class="feast">
	<%=link_to edit_feast_path(f.id) do%>
		<%=feast_image(f)%>
	<%end%>

	<p><u> competition time: </u><%=f.feast_time%></p><br />
	<p><u>competition place: </u><%=f.feast_place%></p><br /><br />

</div>	
	    
		
		<%= link_to('delete competition', delete_feast_path(f.id)) %>
		
		<br /><br /><br />

<h2><u>users</u></h2>		
		<% users=f.users %>

		<%= render(:partial => 'shared/user_list', :locals => {:users => users,:feast => f}) %>

<h2><u>dogs</u></h2>
		
		<%= render(:partial => 'feast_dishes', :locals => {dishes: f.dishes,feast: f})%>			

<hr />

<%end%>


<br /><br /><br /><br />


<h2>participated competition list</h2>
	<%if @user_feast_p.blank? %>
		<p>you are not participating in any competitions</p>
	<%end%>


<%@user_feast_p.each do |f|%>
	<div class="feast">
		<%=link_to edit_feast_path(f.id) do%>
			<%=feast_image(f)%>
		<%end%>

		<p><u> competition time: </u><%=f.feast_time%></p><br />
		<p><u>competition place: </u><%=f.feast_place%></p><br /><br />

	</div>	
	    
		
		<%= link_to('delete competition', delete_feast_path(f.id)) %> 
		
		<br /><br /><br />

<h2><u>users</u></h2>		
		<% users=f.users%>

		<%= render(:partial => 'shared/user_list', :locals => {:users => users,:feast => f}) %>

<h2><u>dogs</u></h2>
		
		<%= render(:partial => 'feast_dishes', :locals => {dishes: f.dishes,feast: f})%>			

<hr />

<%end%>


<br /><br /><br /><br />

