<% content_for :head do %>
   <%= javascript_include_tag('feast')%>
<% end %>
 
<h1>let the competition begin!!</h1>
<p>please enter all competition deatails</p><br />

<%=error_messages_for(@feast)%>

<%= form_for @feast, :multipart => true do |f|%>

 	
<%= f.label(:name, "competition name")%><br /><br />
		<%= f.text_field(:name) %> <br /><br />
		<%= f.label(:feast_time, "competition time")%><br /><br />
		<%= f.datetime_select(:feast_time, :order => [:day, :month ,:year]) %><br /><br />
		<%= f.label(:feast_place, "competition place")%><br /><br />
		<%= f.text_field(:feast_place) %> <br /><br />
		upload image file <br /><br />
		<%= f.file_field :image %> <br /><br />
		
		
<h2>participants
	<% @fields = render(partial: 'participation_fields', locals: {f: f})%>
	
	<u>
		 <%= link_to '#', :onclick => "add_par(); return false;",class: "right",id: "try", 
             data: {content: "#{@fields}"} do %>
		 <%= image_tag('add_participants.png', :size => '100x100', :alt => 'Photo Gallery') %>
		 <%end%>
    </u>
</h2>	<br />
<p class="boldd">drag a dog on a user to assign it!</p>
<br /><br /><br />	 

	<%= content_tag "div",:id => "par", data: {myid: User.find(session[:user_id]).id, myname: User.find(session[:user_id]).name, myimage: User.find(session[:user_id]).image} do%>
		<table>
			<tr>
				<th>participant</th>
				<th>assignment</th>
			</tr>
			</table>
		
		
		
		
	<% end %>		

<br /><br /><br /><br /><br /><br />

<h2>dogs
	<% @fields2 = render(partial: 'course_fields', locals: {f: f})%>
	<u>
		 <%= link_to '#', :onclick => "add_course(); return false;",class: "right",id: "add_course", 
             data: {content: "#{@fields2}"} do %>
		 <%= image_tag('add_dog.jpg', :size => '100x100', :alt => 'Photo Gallery') %>
		 <%end%>
    </u>
</h2>	

<br /><br /><br />	 

	<div id ="course">
		<table>
		</table>		
	</div>	
<br /><br />
	 <%=submit_tag "initiate competition"%>

<%end%> <!-- form end -->

