<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    	<title>the amazing DOG BOOK <%= "| #{@username}" if @username %></title>
		<link rel="shortcut icon" href="/assets/dog-book.jpg" />
   	 <meta name="author" content="elad bezalel"> <!-- the username needs suplying --> 
  	<!--<%= stylesheet_link_tag('public1') %> --><!-- this css page needs creation -->
   	 <%= stylesheet_link_tag('public') %>
	 <%= javascript_include_tag('application')%>
	  <%= yield :head %>
	 
  </head>
  <body>
    <header>
      <h1>welcome to dog book</h1>
    </header>
	<%= image_tag('dog-book.jpg', :size => '50x50', :alt => 'dog book photo',) %>
     
    
      <%= render(:partial => '/layouts/navigation') %>
      
     
      <!--the beginnig of the gallery of three rotating images. -->
      
  <div class="imageWrapper">
 <div id="photoShow1" class="photoShow">
    	
        <div class="current">
            <%= image_tag('dog-hands.jpg', :size => '200x200', :alt => 'Photo Gallery') %>
        </div>
        <div>
            <%= image_tag('dog-huskey.jpg', :size => '200x200', :alt => 'Photo Gallery') %>
        </div>
        <div>
            <%= image_tag('dog-looking.jpg', :size => '200x200', :alt => 'Photo Gallery') %>
        </div>
        
    </div>



<div id="photoShow2" class="photoShow">
    	
        <div class="current">
            <%= image_tag('samoy-dogs.jpg', :size => '200x200', :alt => 'Photo Gallery') %>
        </div>
        <div>
            <%= image_tag('dog-mini.jpg', :size => '200x200', :alt => 'Photo Gallery') %>
        </div>
        <div>
            <%= image_tag('dog-water.jpg', :size => '200x200', :alt => 'Photo Gallery') %>
        </div>
        
    </div>
    
     <div id="photoShow3" class="photoShow">
    	
        <div class="current">
            <%= image_tag('dog-wolf.jpg', :size => '200x200', :alt => 'Photo Gallery') %>
        </div>
        <div>
            <%= image_tag('dog-stupid.jpg', :size => '200x200', :alt => 'Photo Gallery') %>
        </div>
        <div>
            <%= image_tag('pupy.jpg', :size => '200x200', :alt => 'Photo Gallery') %>
        </div>
        
    </div>

<!--the end of the gallery of three rotating images.------------------------ -->

	</div>  
      <br><br><br><br> 
 	  <% if !flash[:notice].blank? %>
        <div class="notice">
          <%= flash[:notice] %>
        </div>
      <% end %>
    <br /><br /><br />
      <div id="content">
      
        <%= yield %>
      
      </div>   
       
     
     <footer>
      	<p id="copyright">&copy; elad bezalel all rights reserved</p>
    </footer>
  </body>
  
	
</html>
